body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body,#root{
  height:100%;
}

:root{
  --ludoBorderWidth:.5px;
  --ludoBorder:var(--ludoBorderWidth) solid #000;
  --red:#e04c4c;
  --blue:#2299d5;
  --yellow:#FFCC00;
  --green: #009900;
}

.rotationAnimation{
  animation-name: rotate3d;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-timing-function: linear;
}

.blinkAnimation{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes rotate3d {
  from {transform: rotate3d(1,1,1,0deg) rotateZ(0deg)}
  to {transform: rotate3d(1,1,1,720deg) rotateX(360deg)}
}

@keyframes blink {
  from {
    opacity:.8;
    box-shadow:0 0 5px currentColor;
  }
  to {
    opacity:1;
    box-shadow: none;
  }
}
